
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  color: #333 !important;
}

text {
  color: #333;
}

.card {
  padding: 0 !important;
  border: 1px dotted #333;
}

.container {
  padding-top: 25vh;
}
